.Projects{
    width: 100%;
    height: 100vh;
    color: #fffada;
    background-color: #010101;
}

.Index3{
    display: flex;
    justify-content: left;
    width: 100%;
    padding-left: 110px ;
    transition: .5s;
    text-align: center ;
    height: 20vh;
}

.Index3 div h1 {
    font-size: 10rem;
    -webkit-text-stroke: 1px #fffada;
	-webkit-text-fill-color: transparent;
}

.Index3 div h3{
    transform: translateY(-180%);
    font-size: 4rem;
}
